button {
    font-family: sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: #fff;
    min-height: 2.5rem;
    line-height: 1.4;
    padding: 0.5rem;
    box-sizing: border-box;
    background: $primary-color;
    border: none;
    outline: none;
    cursor: pointer;
}
